name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      # Formatting Check
      - name: Check Formatting
        run: nix develop --command treefmt --fail-on-change

      # Unit Tests
      - name: Run Unit Tests
        run: nix develop --command run-tests
